<div class="container-fluid min-vh-75 bg-theme-white">
    <div class="row p-4 align-items-center">
        <div class="col-lg-10 p-lg-5">
            <h3 class="fs-5 text-primary text-uppercase tracking-widest">About</h3>
            <h2 class="fs-jumbo-4 tracking-tight">
                <span class="fw-bold">{{ site.data.branding.lead }}</span>
                <span class="fw-light">{{ site.data.branding.lead_secondary }}</span>
            </h2>                        
            <div class="text-md-start mt-4">
                <a class="btn btn-lg btn-primary shadow" href="#">
                    Explore
                    <i class="bi bi-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>