{%- assign item = site.data.sources[page.source.id] -%}
{%- unless item == nil %}
<div class="mt-5">
    <hr class="text-subtle w-25">
    <p class="mt-4">
        <strong>Source:</strong>&nbsp;
        {% if page.source.original %}
        {% assign org = site.data.sources[page.source.original] %}
        {% unless org == nil %}
        {% if org.url %}
        <cite><a href="{{ org.url }}">{{ org.title }}</a></cite>
        {% else %}
        <cite>{{ org.title }}</cite>
        {% endif %}
        &nbsp;in&nbsp;
        {% endunless %}
        {% endif %}
        {% unless item.author == nil %}{{ item.author }},&nbsp;{% endunless %}<cite>{{ item.title }}</cite>
        {% unless item.pub == nil %}({{ item.pub.location }}: {{ item.pub.publisher }}, {{ item.pub.year }}).{% endunless %}
        {% if page.source.revised %}<em>Revised by {{ site.data.author.name }}.</em>{% endif %}
    </p>
</div>
{%- endunless %}
