{%- assign item = site.data.sources[page.source.id] -%}
{%- unless item == nil %}
<div class="mt-5">
    <hr class="text-subtle w-25">
    <p class="mt-4">
        <strong>Source:</strong>&nbsp;
        {%- if page.source.original -%}
        {%- assign org_source = site.data.sources[page.source.original] -%}
        {%- unless org_source == nil -%}
        {{- org_source.citation }}.&nbsp;
        {%- endunless -%}
        {%- endif %}
        {%- if page.source.modified %}Adapted from{% endif %}&nbsp;{{ item.citation }}.
    </p>
</div>
{%- endunless %}
