<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="{{ site.data.cdn.url }}">
<link rel="preconnect" href="{{ site.data.cdn.url }}" crossorigin>
<meta name="description" content="{{ page.description | default: page.lead }}">
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
{%- if page.fonts %}
{{ page.fonts }}
{%- endif %}
<link href="{% link css/styles.css %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="{{ site.data.cdn.url }}/assets/img/cp/favicon-192x192.png" sizes="192x192" />
<link rel="icon" type="image/svg+xml" href="{{ site.data.cdn.url }}/assets/img/cp/favicon.svg" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.data.cdn.url }}/assets/img/cp/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Prayers" />
<link rel="manifest" href="{{ site.data.cdn.url }}/assets/img/cp/site.webmanifest" />
