.btn-primary {
    --bs-btn-color: var(--theme-color-white);
    --bs-btn-bg: var(--theme-color-primary);
    --bs-btn-border-color: var(--theme-color-primary);
    --bs-btn-hover-color: var(--theme-color-black);
    --bs-btn-hover-bg: var(--theme-color-white);
    --bs-btn-hover-border-color: var(--theme-color-primary);
    --bs-btn-active-color: var(--theme-color-primary);
    --bs-btn-active-bg: var(--theme-color-white);
}

.btn-secondary {
    --bs-btn-color: var(--theme-color-white);
    --bs-btn-bg: var(--theme-color-secondary);
    --bs-btn-border-color: var(--theme-color-secondary);
    --bs-btn-hover-color: var(--theme-color-black);
    --bs-btn-hover-bg: var(--theme-color-white);
    --bs-btn-hover-border-color: var(--theme-color-secondary);
    --bs-btn-active-color: var(--theme-color-secondary);
    --bs-btn-active-bg: var(--theme-color-white); 
}

.btn-accent {
    --bs-btn-color: var(--theme-color-white);
    --bs-btn-bg: var(--theme-color-accent);
    --bs-btn-border-color: var(--theme-color-accent);
    --bs-btn-hover-color: var(--theme-color-black);
    --bs-btn-hover-bg: var(--theme-color-white);
    --bs-btn-hover-border-color: var(--theme-color-accent);
    --bs-btn-active-color: var(--theme-color-accent);
    --bs-btn-active-bg: var(--theme-color-white); 
}

.navbar-nav {
    --bs-nav-link-color: var(--theme-color-primary);
    --bs-nav-link-hover-color: var(--theme-color-secondary);
}

.pagination {
    --bs-pagination-color: var(--theme-color-primary);
    --bs-pagination-bg: var(--theme-color-neutral-light);
    --bs-pagination-border-color: var(--theme-color-primary);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--theme-color-neutral-light);
    --bs-pagination-hover-border-color: var(--theme-color-primary);  
    --bs-pagination-active-bg: var(--theme-color-primary);
    --bs-pagination-active-color: var(--theme-color-white);
    --bs-pagination-active-border-color: var(--theme-color-primary); 
}

.separator-primary {
    border-top: 2px solid var(--theme-color-primary);
}

.img-fluid {
    animation: fade-in 1s;
}

@media (min-width: 992px) {
    .resource-group .resource-item:last-of-type {
        --bs-border-width: 0;
    }
}

.search-result-list-item a {
    text-decoration: none;
}
