:root {
    --theme-color-primary: #52796f;
    --theme-color-primary-rgb: 82, 121, 111;
    --theme-color-primary-darker: #2F4540;
    --theme-color-primary-darker-rgb: 47, 69, 64;
    --theme-color-primary-linear-gradient: linear-gradient(to right bottom, #415f58, #44645c, #476860, #4b6d65, #4e7269, #54796f, #5a7f76, #60867c, #6a9086, #759a91, #7fa59b, #8aafa6);
    --theme-color-secondary: #5f738c;
    --theme-color-secondary-rgb: 95, 115, 140;
    --theme-color-secondary-lighter: #c7cfb7;
    --theme-color-secondary-lighter-rgb: 199, 207, 183;
    --theme-color-subtle: #6e7781;
    --theme-color-accent: #f4a261;
    --theme-color-accent-rgb: 244, 162, 97;
    --theme-color-accent-lighter: #d8ae69;
    --theme-color-accent-lighter-rgb: 216, 174, 105;
    --theme-color-neutral: #F4F4F4;
    --theme-color-neutral-warm: #EEEDE8;
    --theme-color-neutral-dark: #525e75;
    --theme-color-neutral-muted: #7a6c86;
    --theme-color-neutral-muted-rgb: 122, 108, 134;
    --theme-color-bright-blue: #00A3FF;
    --theme-color-black: #3A3A3A;
    --theme-color-white: #ffffff;

    --theme-font-sans-serif: "Inter", sans-serif;
    --theme-font-serif: "Source Serif 4";
    --theme-font-size-large: 1.25rem;

    --bs-body-font-family: var(--theme-font-sans-serif);
    --bs-body-bg: var(--theme-color-neutral);
    --bs-body-color: var(--theme-color-black);
    
    --bs-primary: var(--theme-color-primary);
    --bs-primary-rgb: var(--theme-color-primary-rgb); 
  
    --bs-secondary: var(--theme-color-secondary);
    --bs-secondary-rgb: var(--theme-color-secondary-rgb);   
  
    --bs-link-color: var(--theme-color-primary);
    --bs-link-color-rgb: var(--theme-color-primary-rgb);

    --bs-nav-link-font-size: 0.875rem;

    --bs-link-hover-color: var(--theme-color-neutral-muted);
    --bs-link-hover-color-rgb: var(--theme-color-neutral-muted-rgb);
}

a {
    text-underline-offset: 0.25rem;
}

p + h2,
p + p  {
    margin-top: 1.5rem;
}

ul + h5,
ul + p,
p + blockquote,
blockquote + p {
    margin-top: 2.5rem;
}

blockquote {
    border-left: 0.25rem solid var(--theme-color-accent);
    padding-left: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: var(--theme-color-black);
    text-decoration: none;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
    color: var(--theme-color-neutral-muted);
}

@media (min-width: 576px) {
    p {
        line-height: 1.5;
    }

    p,
    ul,
    ol {
        font-size: var(--theme-font-size-large);
    }
}

/* Animations */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in-75 {
    0% { opacity: 0.75; }
    100% { opacity: 1; }
}



