:root {
    /*
     * --theme-color-primary
     * --theme-color-primary-medium
     * --theme-color-primary-dark
     *
     *
     *
     */
    --theme-color-primary: #52796f;
    --theme-color-primary-dark: #3B5750;
    --theme-color-primary-rgb: 82, 121, 111;
    --theme-color-primary-dark-rgb: 59, 87, 80;

    --theme-color-secondary: #A4C3B2;
    --theme-color-secondary-rgb: 164, 195, 178;

    --theme-color-subtle: #808080;

    --theme-color-accent: #FC9313;
    --theme-color-accent-dark: #BE6A03;
    --theme-color-accent-light: #FCB256;
    --theme-color-accent-rgb: 252, 147, 19;
    --theme-color-accent-dark-rgb: 190, 106, 3;
    --theme-color-accent-light-rgb: 252, 178, 86;

    --theme-color-neutral-light: #F4F4F4;
    --theme-color-neutral-dark: #E9E7DD;

    --theme-color-black: #000000;
    --theme-color-black-muted: #3A3A3A;
    --theme-color-white: #ffffff;
    --theme-color-white-soft: #fffffa;

    --theme-font-sans-serif: "Inter", sans-serif;
    --theme-font-serif: "Source Serif 4";
    --theme-font-size-large: 1.25rem;

    --bs-body-font-family: var(--theme-font-sans-serif);
    --bs-body-bg: var(--theme-color-neutral-light);
    --bs-body-color: var(--theme-color-black-muted);
    
    --bs-primary: var(--theme-color-primary);
    --bs-primary-rgb: var(--theme-color-primary-rgb); 
  
    --bs-secondary: var(--theme-color-secondary);
    --bs-secondary-rgb: var(--theme-color-secondary-rgb);   
  
    --bs-link-color: var(--theme-color-primary);
    --bs-link-color-rgb: var(--theme-color-primary-rgb);

    --bs-nav-link-font-size: 0.875rem;

    --bs-link-hover-color: var(--theme-color-secondary);
    --bs-link-hover-color-rgb: var(--theme-color-secondary-rgb);
}

a {
    text-underline-offset: 0.25rem;
}

p + h2,
p + p  {
    margin-top: 1.5rem;
}

ul + h5,
ul + p,
p + blockquote,
blockquote + p {
    margin-top: 2.5rem;
}

blockquote {
    border-left: 0.25rem solid var(--theme-color-accent);
    padding-left: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: var(--theme-color-black);
    text-decoration: none;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
    color: var(--theme-color-secondary);
}

@media (min-width: 576px) {
    p {
        line-height: 1.5;
    }

    p,
    ul,
    ol {
        font-size: var(--theme-font-size-large);
    }
}

/* Animations */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in-75 {
    0% { opacity: 0.75; }
    100% { opacity: 1; }
}



