<nav class="navbar navbar-expand-md shadow-sm px-md-3 py-3">
    <div class="container-fluid">
        <a class="navbar-brand text-primary fw-bold" href="/">
            <img src="/img/brand-icon-circle.svg" alt="" 
                width="32" height="32" 
                class="d-inline-block align-text-center">
            {{ site.title }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">{{ site.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-end text-uppercase fs-6">
                    <li class="nav-item px-2 px-md-3"><a class="nav-link fw-bold" href="#">Explore</a></li>
                    <li class="nav-item px-2 px-md-3"><a class="nav-link fw-bold" href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav> 
