<footer class="container-fluid mt-8 px-3 pb-6 bg-theme-dark border-top">
    <div class="row mt-6 gy-3 align-items-center px-lg-5">
      <div class="col-3 col-lg-6 order-lg-last">
        <img class="d-lg-none d-block img-fluid"
          src="{% link img/brand-icon.svg %}"
          width="100"
          loading="lazy"
          fetchpriority="low">
        <img class="d-none d-lg-block mx-auto img-fluid" 
          src="{% link img/brand-icon.svg %}"
          width="500"
          loading="lazy"
          fetchpriority="low">
      </div>
      <div class="col">
          <div class="fs-4 text-primary text-uppercase tracking-widest">{{ site.data.branding.name }}</div>
          <div class="h2 tracking-tight">
              {{ site.data.branding.lead }}
          </div>                    
      </div>
  </div>
</footer>
