<div class="min-vh-100 position-relative overflow-hidden">
    <img class="d-block w-100 h-100 position-absolute object-cover object-center" 
        src="{{ page.img.lg }}" 
        alt="{{ page.img.alt }}"
        loading="eager"
        fetchpriority="high">
    <div class="overlay overlay-primary">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-8 text-white">
                    <h1 class="fs-jumbo-1 tracking-tight lh-1">Prayers ancient and modern</h1>
                    <p class="lead w-lg-75">{{ page.lead }}</p>
                    <div class="text-md-start mt-4">
                        <a class="btn btn-lg btn-accent shadow lift" href="#">
                            Explore
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
