<div class="col d-flex align-items-stretch">
    <div class="card rounded-3 shadow-sm">
        <img src="{{ page.img.sm }}" class="card-img-top" alt="">
        <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title">Ineffable Sea of Love</h5>
            <p class="card-text">This is some text about the card. Lorem ipsum foobar fizzbuss.</p>
            <div class="mt-auto">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>