<div class="container my-5">
    <div class="row p-4 rounded-3 border shadow-lg lift align-items-center min-vh-75 bg-theme-white">
        <div class="col-lg-10 p-lg-5">
            <h3 class="fs-5 text-primary text-uppercase tracking-widest">A Curated Collection</h3>
            <h2 class="fs-jumbo-4 tracking-tight">
                <span class="fw-bold">Drawing on the riches of historic Christian worship.</span>
                <span class="fw-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h2>                        
            <div class="text-md-start mt-4">
                <a class="btn btn-lg btn-primary shadow" href="#">
                    Explore
                    <i class="bi bi-arrow-right-circle"></i>
                </a>
            </div>
        </div>
    </div>
</div>
