{%- assign item = site.data.sources[page.source.id] -%}
{%- unless item == nil %}
<div class="source">
    <div class="text-center my-5">* * *</div>
    <p>
        <strong>Source:</strong>&nbsp;
        {%- if page.source.original -%}
        {%- assign org_source = site.data.sources[page.source.original] -%}
        {%- unless org_source == nil -%}
        {{- org_source.citation }}.&nbsp;
        {%- endunless -%}
        {%- endif %}
        {%- if page.source.modified %}Adapted from{% endif %}&nbsp;{{ item.citation | smartify }}.
    </p>
</div>
{%- endunless %}
