<!DOCTYPE html>
<html lang="en">
<head>
    {% include sections/head.html %}
    {% include sections/scripts/analytics.html %}
</head>
<body>
    <!-- header -->
    <header>
        <!-- nav -->
        {% include sections/nav.html %}
        <!-- end of nav-->
         {% if layout.masthead %}
         {% include {{ layout.masthead }} %}
         {% elsif page.masthead %}
         {% include {{ page.masthead }} %}
         {% endif %}
    </header>
    <!-- end of header -->
    <!-- main -->
    {{ content }}
    <!-- end of main -->
    <!-- footer -->
    {% include sections/footer/about.html %}
    <div class="container-fluid bg-theme-light">
        <div class="row flex-grow-1 align-items-end text-end py-3">
            <div class="col">
                <div class="fs-xs pe-3">
                    <a class="pe-2" href="#">About</a>&nbsp;
                    <a class="pe-2" href="#">Permissions</a>&nbsp;
                    <a class="pe-2" href="#">Privacy</a>
                    <span class="d-block mt-2">{{ site.data.messages.disclosure }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end of footer -->
     <!-- scripts -->
    {% include sections/scripts/core.html %}
    {% if layout.scripts %}
    {% include {{ layout.scripts }} %}
    {% endif %}
    <!-- end of scripts -->
</body>
</html>
