<!DOCTYPE html>
<html lang="en">
<head>
    {% include sections/head.html %}
</head>
<body>
    <!-- header -->
    <header>
        <!-- nav -->
        {% include sections/nav.html %}
        <!-- end of nav-->
         {% if layout.masthead %}
         {% include {{ layout.masthead }} %}
         {% endif %}
    </header>
    <!-- end of header -->
    <!-- main -->
    {{ content }}
    <!-- end of main -->
    <!-- footer -->
    {% include sections/footer/about.html %}
    <!-- end of footer -->
     <!-- scripts -->
    {% include scripts/core.html %}
    {% if layout.scripts %}
    {% include {{ layout.scripts }} %}
    {% endif %}
    <!-- end of scripts -->
</body>
</html>
