---
layout: default
---
<main id="start-of-content" class="min-vh-100">
    <section class="fade-in-75 my-5">
        <div class="container mx-auto">
            {% include sections/explore/foo.html %}
        </div>
    </section>
    <section id="explore" class="fade-in-75">
        <div class="container-fluid">
            {% include sections/explore/heroes/explore.html %}
        </div>
    </section>

    <section id="latest" class="mt-6">
        <div class="container mx-auto">
            {% include sections/explore/latest.html %}
        </div>
    </section>
</main>