---
layout: default
masthead: components/masthead/full-bleed.html
---
<main id="start-of-content" class="min-vh-100">
    <section id="explore" class="fade-in-75">
        {% include explore/heroes/explore.html %}
    </section>

    <section id="latest" class="mt-6">
        <div class="container-xl mx-auto">
            {% include explore/latest.html %}
        </div>
    </section>

    <section id="early-church" class="mt-6">
        {% include explore/heroes/early.html %}
    </section>
</main>