---
layout: default
---
<main id="start-of-content" class="min-vh-75">
    <section id="featured" class="my-6">
        <div class="container">
            {% include sections/home/sections/featured/reformation-era-prayer.html %}
        </div>
    </section>
    <div class="container">
        <hr class="text-subtle mt-6 mb-5">
        <section id="collections">
            {% include sections/home/sections/collections/early-era-prayers.html %}
        </section>
        <hr class="text-subtle mt-6 mb-5">
        <section id="recent-prayers">
            {% include sections/home/sections/recent/recent-prayers.html %}
        </section>
    </div>
</main>