<!DOCTYPE html>
<html lang="en">
<head>
    {% include components/head.html %}
</head>
<body>
  <header>
    <!-- navigation -->
    {% include components/nav.html %}
    <!-- header content -->
    <div class="container mx-auto pt-6">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div>
                    <div class="d-block mb-2 text-primary fs-xs fw-bold text-uppercase mb-2 tracking-widest">
                        {{ site.data.eras[page.era].name }} ({{ site.data.eras[page.era].years }})</div>
                    <h1 class="fs-jumbo-2 tracking-tight lh-1 mb-2">{{ page.title }}</h1>
                    <div class="d-flex">
                        <h2 class="col-12 col-lg-10 fs-5 lead text-subtle tracking-tight">{{ page.lead }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9 mt-4">
                <figure>
                    {% include components/img/responsive.html img=page.img 
                        classes="d-block mx-auto shadow rounded lift" loading="eager" 
                        fetch_priority="high" %}
                    {% if page.img.caption %}
                    <figcaption class="mt-2 text-end text-subtle fs-sm pe-2">{{ page.img.caption | markdownify | remove: '<p>' | remove: '</p>' }}</figcaption>
                    {% endif %}
                </figure>
                <hr class="border opacity-75 w-50 mx-auto mt-5">
            </div>
        </div>
    </div>
  </header>

  <!-- main -->
    <main class="mb-8 min-vh-100">
        <section class="prayer">
            <div class="container mx-auto">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-xl-7 font-serif mt-3 px-4">
                        <div class="prayer-content py-4">
                            {{ content }}
                            {% if page.source %}
                            {% include prayers/source.html %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer -->
    {% include components/footer/about.html %}
</body>
</html>