<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="description" content="{{ page.description }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">   
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <header>
    <!-- navigation -->
    {% include nav.html %}
    <!-- header content -->
    <div class="container mx-auto pt-6">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div>
                    <small class="d-block text-primary fw-bold text-uppercase mb-2 tracking-widest">{{ page.era }} Prayers</small>
                    <h1 class="fs-jumbo-2 tracking-tight lh-1 mb-2">{{ page.title }}</h1>
                    <div class="d-flex">
                        <h2 class="col-12 col-lg-10 fs-5 lead text-subtle tracking-tight">{{ page.lead }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9 mt-4">
                <figure>
                    <img class="d-block mx-auto shadow rounded img-fluid lift"
                    srcset="{{ page.img.sm }} 854w, {{ page.img.md }} 1280w, {{ page.img.lg }} 2560w"
                    src="{{ page.img.sm }}"
                    alt="{{ page.img.alt }}"
                    loading="eager"
                    fetchpriority="high">
                    {% if page.img.caption %}
                    <figcaption class="mt-2 text-end text-subtle fs-sm pe-2">{{ page.img.caption | markdownify | remove: '<p>' | remove: '</p>' }}</figcaption>
                    {% endif %}
                </figure>
                <hr class="border opacity-75 w-50 mx-auto mt-5">
            </div>
        </div>
    </div>
  </header>

  <!-- main -->
    <main class="mb-8 min-vh-100">
        <section class="prayer">
            <div class="container mx-auto">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-xl-7 font-serif mt-3 px-4">
                        <div class="prayer-content py-4">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer -->
    {% include footer.html %}
</body>
</html>