---
layout: default
scripts: sections/search/scripts/search.html
---
<main class="d-flex min-vh-100">
    <div class="container mx-auto">
        <div class="row align-items-center h-100 flex-column">
            <div class="col-12 col-md-6 mt-8">
                <div id="search-container">
                    <input class="form-control bg-theme-white w-100" type="text" id="search-input" placeholder="Type to begin searching...">
                    <ul id="results-container" class="list-group list-group-flush mt-5 mb-5"></ul>
                </div>
            </div>
        </div>
    </div>
</main>
